<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/static/css/my_style.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/myjs.js"></script>
</head>
<body>
{% include 'signup.html' %}
{% include 'login.html' %}
<div class="menu">
	<div class="container text-center">
		<div class="navbar-header">
			<a href="#">ASKotelnikov</a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li>
				<form class="navbar-form">
					<div class="input-group">
						<input type="search" placeholder="Search" class="form-control input-sm search">
						<span class="input-group-btn">
				        <button class="btn btn-sm search-btn" type="button">
					        <span class="glyphicon glyphicon-search" aria-label="true"></span>
				        </button>
					</span>
					</div>
				</form>
			</li>
			<li>
				<button type="submit" class="btn btn-success">ASK!</button>
			</li>
			{% block userbar %}
				<li><a href="#" id="btn-signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
				<li><a href="#" id="btn-login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
			{% endblock %}
			<li>
				<img src="" class="thumbnail user-avatar" alt="...">
			</li>
		</ul>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-7 col-md-offset-1">
			<h1>{% block header %} New Questions {% endblock %}</h1>
			{% block content %}
			{% endblock %}
		</div>
		<div class="col-md-2 col-md-offset-2 pop_tags">
			{% block sidebar %}
				<h3>Popular Tags</h3>
				<div class="row">
					<div class="col-md-12">
						<a href="#" class="tags">perl</a>
						<a href="#" class="tags">Python</a>
						<a href="#" class="tags">Technopark</a>
						<a href="#" class="tags">MySQL</a>
						<a href="#" class="tags">django</a>
						<a href="#" class="tags">mailru</a>
					</div>
				</div>
				<h3>Best Members</h3>
				<div class="raw">
					<div class="col-md-12 members">
						<ul class="list-unstyled">
							<li><a href="#">Mr. Freeman</a></li>
							<li><a href="#">Mr. Freeman</a></li>
							<li><a href="#">Mr. Freeman</a></li>
							<li><a href="#">Mr. Freeman</a></li>
							<li><a href="#">Mr. Freeman</a></li>
						</ul>
					</div>
				</div>
			{% endblock %}
		</div>
	</div>
</div>
</body>
</html>