{% extends "base.html" %}

{% block title %}
	AsKotelnikov
{% endblock %}

{% block header %}
	New Questions
{% endblock %}

{% block content %}
	<div class="row">
		<ul class="list-group">
			<li class="list-group-item">
				<div class="panel-body row">
					<div class="col-md-3 text-center">
						<img src="#" class="img-thumbnail user-avatar" alt="...">
					</div>
					<div class="col-md-9" style="word-wrap: break-word">
						<a href="#"><h3 style="margin: 0 0 0 0">How to build a moon park?</h3></a>
						<p>Здесь будет отображаться текст вопроса</p>
					</div>
				</div>
				<div class="panel-body row">
					<div class="col-md-3 text-center">
						<div class="btn-group" aria-label="...">
							<a href="#" role="button" class="glyphicon glyphicon-thumbs-up like"></a>
							<span style="font-size: 18px">1</span>
							<a href="#" role="button" class="glyphicon glyphicon-thumbs-down dislike"></a>
						</div>
					</div>
					<div class="col-md-9" style="margin-top: 5px">
						<a href="#" style="margin-right: 30px;">answers(3)</a>
						<span style="margin-left: 30px">
								Tags:
								<a href="#" class="tags">black-jack</a>
								<a href="#" class="tags">bender</a>
								<a href="#" class="tags">whores</a>
							</span>
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="panel-body row">
					<div class="col-md-3 text-center">
						<a href="#"><img src="#" class="img-thumbnail" style="height: 60px; width: 60px" alt="..."></a>
					</div>
					<div class="col-md-9" style="word-wrap: break-word">
						<a href="#"><h3 style="margin: 0 0 0 0">How to build a moon park?</h3></a>
						<p>Здесь будет отображаться текст вопроса</p>
					</div>
				</div>
				<div class="panel-body row">
					<div class="col-md-3 text-center">

						<div class="btn-group" aria-label="...">
							<a href="#" role="button" class="glyphicon glyphicon-thumbs-up like"></a>
							<span style="font-size: 20px">100</span>
							<a href="#" role="button" class="glyphicon glyphicon-thumbs-down dislike"></a>
						</div>
					</div>
					<div class="col-md-9">
						<a href="#" style="margin-right: 30px">answers(52)</a>
						Tags:
						<a href="#" class="tags">black-jack</a>
						<a href="#" class="tags">bender</a>
						<a href="#" class="tags">whores</a>
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="panel-body row">
					<div class="col-md-3 text-center">
						<a href="#"><img src="#" class="img-thumbnail" style="height: 60px; width: 60px" alt="..."></a>
					</div>
					<div class="col-md-9" style="word-wrap: break-word">
						<a href="#"><h3 style="margin: 0 0 0 0">How to build a moon park?</h3></a>
						<p>Здесь будет отображаться текст вопроса</p>
					</div>
				</div>
				<div class="panel-body row">
					<div class="col-md-3 text-center">

						<div class="btn-group" aria-label="...">
							<a href="#" role="button" class="glyphicon glyphicon-thumbs-up like"></a>
							<span style="font-size: 20px">100</span>
							<a href="#" role="button" class="glyphicon glyphicon-thumbs-down dislike"></a>
						</div>
					</div>
					<div class="col-md-9">
						<a href="#" style="margin-right: 30px">answers(3)</a>
						Tags:
						<a href="#" class="tags">black-jack</a>
						<a href="#" class="tags">bender</a>
						<a href="#" class="tags">whores</a>
					</div>
				</div>
			</li>
		</ul>
		<nav>
			<ul class="pagination">
				<li>
					<a href="#" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li>
					<a href="#" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
{% endblock %}

